.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    background-color: #3949AB;
    height: 70px;
}

.navbar-logo,
h1 {
    color: #fff;
    margin: 0px;
}