<nav class="navbar" *ngIf="getIsLoggedIn()">
    <div class="navbar-brand">
        <div class="navbar-item" *ngIf="isTableRoute()">
            <button mat-raised-button color="accent" (click)="volverAtras()">Volver</button>
        </div>
    </div>
    <div class="navbar-menu">
        <div class="navbar-end">
            <div class="navbar-item">
                <button (click)="desloguear()" mat-raised-button color="accent" routerLink="/login">Cerrar
                    Sesión</button>
            </div>

        </div>
    </div>
</nav>