<div class="container-title-calendar">
    <h1>
        Calendario y asignaciones
    </h1>
</div>
<div class='demo-app'>
    <div class='demo-app-main'>
        <full-calendar [options]='calendarOptions'>
            <ng-template #eventContent let-arg>
                <div class="evento">
                    <!-- <p>{{ arg.event.id }}</p> -->
                    <p>Profesor: {{ arg.event.title }}</p>
                    <p>Descripción: {{ arg.event.extendedProps.description }}</p>
                </div>
            </ng-template>
        </full-calendar>
    </div>
</div>