<div class="container">
    <div class="container-banner">
        <div class="container-banner-texto">
            <h1><strong>SIPI</strong></h1>
            <h2><strong>Sistema Integral de Préstamos e Instalación de Programas</strong></h2>
        </div>
        <div class="container-banner-logo">
            <img src="../../../../assets/images/logo_ifts_11.png" alt="logo ifts11">
        </div>
    </div>
    <div class="container-body">
        <div class="container-body-inputs">
            <h2><strong>Bienvenido</strong></h2>
            <p><strong>Para comenzar inice sesión</strong></p>
            <form class="container-body-form" (ngSubmit)="onSubmit()">
                <mat-form-field class="field">
                    <input type="email" matInput placeholder="Usuario" id="username" [(ngModel)]="username" name="username" required>
                </mat-form-field>
                <mat-form-field class="field">
                    <input type="password" matInput placeholder="Contraseña" id="password" [(ngModel)]="password" name="password" required>
                </mat-form-field>
                <div class="container-button">
                    <button mat-raised-button color="primary" type="submit">Iniciar Sesión</button>
                </div>
            </form>
        </div>
        <div class="container-body-img">
            <img src="../../../../assets/images/img_login.png" alt="bienvenida login">
        </div>
    </div>

</div>