.container-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}
.container-button button {  
    padding: 10px;
    border-radius: 4px;
}

.container-table {
    padding: 20px 10px;
    min-height: 100vh;
}
