.container {
    padding: 0px 40px;
}

.container-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 0px;
}

.container-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
}

.container-text img {
    width: 100px;
}

.container-banner-actions {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}

.container-button button {
    padding: 10px;
    border-radius: 4px;
}

th.sorting,
td {
    text-align: center;
    padding: 13px 0px;

}

.mat-dialog-actions {
    display: flex;
    justify-content: center;
}

.container-table {
    min-height: 40vh;
}