<!-- dynamic-table.component.html -->
<div class="container">
    <div class="container-banner">
        <div class="container-text">
            <h1>{{tableName}}</h1>
            <img src="../../../../assets/images/logo_ifts_11.png" alt="logo ifts11">
        </div>
        <div class="container-banner-actions">
            <div class="container-title">
                <strong>
                    <h2>Lista de {{ tableName }}</h2>
                </strong>
            </div>
            <div class="container-button" *ngIf="tableName !== 'Solicitudes' && tableName !== 'Devoluciones'">
                <button mat-raised-button color="accent" (click)="openDialogTemplate(template)">
                    Agregar {{tableName}}
                </button>
            </div>
        </div>
    </div>

    <mat-form-field class="form-field">
        <div class="filter">
            <mat-label>Buscar</mat-label>
            <mat-icon>search</mat-icon>
        </div>
        <input matInput (input)="applyFilter($event)" />
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!-- Columnas -->
        <ng-container *ngFor="let column of columnHeaders" [matColumnDef]="column">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ column }} </th>
            <td mat-cell *matCellDef="let element"> {{ element[column] }} </td>
        </ng-container>

        <!-- Columna de acciones -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <ng-container *ngIf="tableName !== 'Solicitudes' && tableName !== 'Devoluciones'">
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button (click)="openDialogTemplate(template, element)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button (click)="openDialogTemplateDelete(template1, element)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>
            <ng-container *ngIf="tableName === 'Solicitudes'">
                <td mat-cell *matCellDef="let element">
                    <button mat-raised-button mat-dialog-close color="accent"
                        (click)="aprobarSolicitud(element)">Aprobar</button>
                    <button mat-raised-button mat-dialog-close color="warn"
                        (click)="rechazarSolicitud(element)">Rechazar</button>
                </td>
            </ng-container>
            <ng-container *ngIf="tableName === 'Devoluciones'">
                <td mat-cell *matCellDef="let element">
                    <button mat-raised-button mat-dialog-close color="accent"
                        (click)="devolverComputadora(element)">Devolver</button>
                </td>
            </ng-container>
        </ng-container>

        <!-- Fila para mostrar datos vacíos o no encontrados -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" *matCellDef="let element"> No se encontraron datos. </td>
        </tr>

        <!-- Filas de datos -->
        <tr mat-header-row *matHeaderRowDef="columnHeaders.concat('actions')"></tr>
        <tr mat-row *matRowDef="let row; columns: columnHeaders.concat('actions')"></tr>
    </table>

    <!-- Controles de paginación y filtro -->
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>

</div>
<ng-template #template>
    <app-reactive-form #reactiveForm [formConfig]="formConfig" [data]="data" (save)="onSave($event)"
        [operacion]="operacionCapitalizada" [table]="tableName">
    </app-reactive-form>
</ng-template>

<ng-template #template1>
    <h1 mat-dialog-title>Está seguro que desea borrar este elemento?</h1>
    <div mat-dialog-actions class="mat-dialog-actions">
        <button mat-button mat-dialog-close (click)="borrarItem()">Si</button>
        <button mat-button mat-dialog-close>No</button>
    </div>
</ng-template>

<div>
    <app-custom-snackbar #snackbarComponent></app-custom-snackbar>
</div>